
.idea/

*.pyc

build/
*.egg-info/

.project
.pydevproject
.settings/
*.pyc
*.out
.gitignore.bak
Parser/parsetab.py

img_folder/
genViz.py
testViz.py
genVizSimple.py
Domain_test/
genGif.py
VizRDDL/
# Competition/
TestingDomain/
docs/_build

# macOS
.DS_Store

